<div class="full-loading" *ngIf="initialLoading">
    <mat-spinner diameter="60"></mat-spinner>
</div>

<div class="container" *ngIf="!initialLoading">
    <h2>Encurtador de URL</h2>

    <input 
        type="text"
        [(ngModel)]="urlInput"
        placeholder="Digite a URL completa" 
    />

    <button (click)="shortenUrl()">Encurtar</button>

    <p id="result" *ngIf="shortUrl">
        URL encurtada:
        <a [href]="shortUrl" target="_blank"> {{ shortUrl }}</a>
    </p>

    <p id="result" *ngIf="errorMessage">
        {{ errorMessage }}
    </p>
</div>

<!-- Binding
- [()] <- two way data Binding html <==> ts
- [] <- property Binding: ts => html
- () <- event Binding: html => ts

Diretivas angular
*ngIf
ngHideen
*ngFor -->